body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1 {
    font-size: 50px;
    
}
.orange {color: orange}

.flexible-container{
    display: flex;
    margin-bottom:100px;
}

.half-width {
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width:80%
}
a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-weight: bold;
}

.top-area{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow {
    box-shadow: 5px 5px 30px gray;
    width: 40%;
    margin:10px 20px;
    border-radius: 10px;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}

footer{
    color: tomato;
    text-align:center;
    font-size: 20px;
}

